In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("House Price India.csv")

In [3]:
data

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14615,6762830250,42734,2,1.50,1556,20000,1.0,0,0,4,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
14616,6762830339,42734,3,2.00,1680,7000,1.5,0,0,4,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
14617,6762830618,42734,2,1.00,1070,6120,1.0,0,0,3,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
14618,6762830709,42734,4,1.00,1030,6621,1.0,0,0,4,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
14619,6762831463,42734,3,1.00,900,4770,1.0,0,0,3,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

In [4]:
new_data = data.loc[:, ['number of bedrooms', 'Price']]

In [5]:
new_data

       number of bedrooms    Price
0                       5  2380000
1                       4  1400000
2                       5  1200000
3                       4   838000
4                       3   805000
...                   ...      ...
14615                   2   221700
14616                   3   219200
14617                   2   209000
14618                   4   205000
14619                   3   146000

[14620 rows x 2 columns]

In [26]:
Independent = pd.DataFrame(new_data["number of bedrooms"])

In [27]:
dependent = pd.DataFrame(new_data["Price"])

In [28]:
Independent.head(7)

   number of bedrooms
0                   5
1                   4
2                   5
3                   4
4                   3
5                   3
6                   5

In [29]:
dependent.head(7)

     Price
0  2380000
1  1400000
2  1200000
3   838000
4   805000
5   790000
6   785000

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
Independent_train, Independent_test, dependent_train, dependent_test = train_test_split(Independent, dependent, test_size = 0.2, random_state = 77)

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
linearRegressor = LinearRegression()

In [34]:
linearRegressor.fit(Independent_train, dependent_train)

LinearRegression()

In [35]:
linearRegressor.intercept_

array([110582.54850694])

In [36]:
linearRegressor.coef_

array([[125742.78574551]])